* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
  padding: 100px 50px 50px 50px;
  margin: 0;
  background-image: linear-gradient(332deg, #0a062b, #3e0f42);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.display-container {
  width: 1000px;
  height: 500px;
  position: relative;
  padding: 25px;
}

.display-container .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.display-container .header-container::after {
  display: block;
  content: "";
  position: absolute;
  right: 0;
  width: 58%;
  height: 7px;
  background-color: white;
  -webkit-box-shadow: 0 0 15px #dc29ec, 0 0 5px 2px #e25dee;
          box-shadow: 0 0 15px #dc29ec, 0 0 5px 2px #e25dee;
}

.display-container .header-container #tunatunr-logo {
  height: 100px;
  min-width: 40%;
  width: 20px;
  margin-top: -100px;
}

.display-container .header-container #tunatunr-logo svg {
  z-index: 10;
  width: 425px;
  height: 107px;
  -webkit-filter: drop-shadow(0 0 10px #dc29ec) drop-shadow(0 0 2px #e054ec);
          filter: drop-shadow(0 0 10px #dc29ec) drop-shadow(0 0 2px #e054ec);
}

.display-container .header-container #tunatunr-logo svg g path {
  fill: white;
  stroke: white;
}

.display-container .header-container #tunatunr-logo #logo-dash {
  fill: none;
}

.display-container .tagline-container {
  position: absolute;
  top: 0;
  right: 0;
  color: #33dbdb;
  font-family: sans-serif;
  font-size: 20px;
  font-style: italic;
  letter-spacing: 1px;
  margin-top: -30px;
}

.display-container .tagline-container span {
  font-weight: bold;
  font-style: oblique;
  text-shadow: 5px 0 rgba(204, 255, 18, 0.4);
}

.display-container .content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  height: 100%;
  padding: 15px;
  outline: 2px rgba(204, 255, 18, 0.6) solid;
}

.display-container .content-container::before {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 7px;
  height: 94%;
  background-color: white;
  -webkit-box-shadow: 0 0 15px #dc29ec, 0 0 5px 2px #e25dee;
          box-shadow: 0 0 15px #dc29ec, 0 0 5px 2px #e25dee;
}

.display-container .content-container::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 7px;
  height: 100%;
  background-color: white;
  -webkit-box-shadow: 0 0 15px #dc29ec, 0 0 5px 2px #e25dee;
          box-shadow: 0 0 15px #dc29ec, 0 0 5px 2px #e25dee;
}

.display-container .content-container .content-container-title {
  border-bottom: 1px rgba(204, 255, 18, 0.6) solid;
}

.display-container .content-container .content-container-title ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 0 10px 0;
}

.display-container .content-container .content-container-title ul li {
  list-style-type: none;
  font-style: oblique;
  text-transform: lowercase;
  color: #ccff12;
}

.display-container .content-container .content-container-container {
  overflow: hidden;
  overflow-y: visible;
  padding: 1px;
  margin-top: 10px;
}

.display-container .content-container .content-container-container .song-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 4fr 5fr 1fr 25px 25px;
      grid-template-columns: 5fr 4fr 5fr 1fr 25px 25px;
  gap: 10px;
  padding: 10px;
  width: 100%;
  outline: 1px #33dbdb solid;
  color: #f7c5fc;
  margin-bottom: 10px;
}

.display-container .content-container .content-container-container .song-container .song-title,
.display-container .content-container .content-container-container .song-container .song-artist,
.display-container .content-container .content-container-container .song-container .song-album,
.display-container .content-container .content-container-container .song-container .song-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.display-container .content-container .content-container-container .song-container .song-title {
  font-weight: 500;
  color: white;
}

.display-container .content-container .content-container-container .song-container .heart {
  cursor: pointer;
  height: 100%;
  width: 20px;
}

.display-container .content-container .content-container-container .song-container .heart path {
  fill: #aaa1a1;
}

.display-container .content-container .content-container-container .song-container .heart.active {
  -webkit-filter: drop-shadow(0 0 10px #dc29ec) drop-shadow(0 0 2px #e054ec);
          filter: drop-shadow(0 0 10px #dc29ec) drop-shadow(0 0 2px #e054ec);
}

.display-container .content-container .content-container-container .song-container .heart.active path {
  fill: white;
}

.display-container .content-container .content-container-container .song-container .song-delete {
  color: #33dbdb;
}

.display-container .display-container-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7px;
  background-color: white;
  -webkit-box-shadow: 0 0 15px #dc29ec, 0 0 5px 2px #e25dee;
          box-shadow: 0 0 15px #dc29ec, 0 0 5px 2px #e25dee;
}

.bottom-container {
  max-width: 1000px;
  max-height: 300px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  gap: 30px;
  margin-top: 30px;
}

.bottom-container .favorite-container {
  width: 100%;
  border: #33dbdb 1px solid;
}

.bottom-container .favorite-container .inner-container {
  margin: 10px;
  border: #e25dee 2px solid;
  height: 225px;
  overflow: hidden;
  overflow-y: visible;
}

.bottom-container .favorite-container .inner-container .song-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  border: #33dbdb 1px solid;
  color: #33dbdb;
  font-size: 14px;
  padding: 5px;
  margin: 10px;
}

.bottom-container .favorite-container .inner-container .song-container .song-title {
  color: #f7c5fc;
}

.bottom-container .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.bottom-container .form-container .form-title {
  color: turquoise;
  text-transform: lowercase;
  font-family: sans-serif;
  font-style: oblique;
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.bottom-container .form-container .form-title span {
  font-weight: bold;
  font-style: oblique;
  text-shadow: 5px 0 rgba(204, 255, 18, 0.4);
}

.bottom-container .form-container .form-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.bottom-container .form-container .form-body input {
  width: 350px;
  padding: 7px 7px 7px 10px;
  margin-bottom: 10px;
  font-size: 16px;
  color: white;
  background-color: rgba(62, 15, 66, 0);
  border: #33dbdb 1px solid;
}

.bottom-container .form-container .form-body input:focus {
  border: white 1px solid;
  -webkit-box-shadow: 0 0 10px violet;
          box-shadow: 0 0 10px violet;
}

.bottom-container .form-container .form-body ::-webkit-input-placeholder {
  color: rgba(204, 255, 18, 0.6);
  font-family: sans-serif;
  font-size: 16px;
  font-style: oblique;
  letter-spacing: 1px;
}

.bottom-container .form-container .form-body :-ms-input-placeholder {
  color: rgba(204, 255, 18, 0.6);
  font-family: sans-serif;
  font-size: 16px;
  font-style: oblique;
  letter-spacing: 1px;
}

.bottom-container .form-container .form-body ::-ms-input-placeholder {
  color: rgba(204, 255, 18, 0.6);
  font-family: sans-serif;
  font-size: 16px;
  font-style: oblique;
  letter-spacing: 1px;
}

.bottom-container .form-container .form-body ::placeholder {
  color: rgba(204, 255, 18, 0.6);
  font-family: sans-serif;
  font-size: 16px;
  font-style: oblique;
  letter-spacing: 1px;
}

.bottom-container .form-container .form-body .form-submit {
  cursor: pointer;
  color: white;
  font-size: 18px;
  background-color: rgba(216, 18, 255, 0.2);
  border: 1px #fb8eff solid;
  margin: 0;
}

.bottom-container .form-container .form-body .form-submit:hover {
  border: white 1px solid;
  -webkit-box-shadow: 0 0 10px violet;
          box-shadow: 0 0 10px violet;
}

#loading-icon {
  position: relative;
  width: 100%;
  height: 100%;
}

#loading-icon .loading-message {
  position: absolute;
  top: 65%;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: olive;
  font-family: sans-serif;
  font-style: oblique;
}

#loading-icon .loading-message div {
  width: 60%;
  margin-bottom: 5px;
}

#loading-icon .cssload-dots {
  width: 0;
  height: 0;
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  margin: auto;
  outline: 1px solid red;
  filter: url(#goo);
  -o-filter: url(#goo);
  -ms-filter: url(#goo);
  -webkit-filter: url(#goo);
  -moz-filter: url(#goo);
}

#loading-icon .cssload-dot {
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
}

#loading-icon .cssload-dot:before {
  content: "";
  width: 27px;
  height: 27px;
  border-radius: 39px;
  background: #ff813d;
  position: absolute;
  left: 50%;
  transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  margin-left: -13.5px;
  margin-top: -13.5px;
}

#loading-icon .cssload-dot:nth-child(5):before {
  z-index: 100;
  width: 30px;
  height: 30px;
  margin-left: -17.75px;
  margin-top: -17.75px;
  animation: cssload-dot-colors 2.8s ease infinite;
  -o-animation: cssload-dot-colors 2.8s ease infinite;
  -ms-animation: cssload-dot-colors 2.8s ease infinite;
  -webkit-animation: cssload-dot-colors 2.8s ease infinite;
  -moz-animation: cssload-dot-colors 2.8s ease infinite;
}

#loading-icon .cssload-dot:nth-child(1) {
  animation: cssload-dot-rotate-1 2.8s 0s linear infinite;
  -o-animation: cssload-dot-rotate-1 2.8s 0s linear infinite;
  -ms-animation: cssload-dot-rotate-1 2.8s 0s linear infinite;
  -webkit-animation: cssload-dot-rotate-1 2.8s 0s linear infinite;
  -moz-animation: cssload-dot-rotate-1 2.8s 0s linear infinite;
}

#loading-icon .cssload-dot:nth-child(1):before {
  background-color: #ff33ff;
  animation: cssload-dot-move 2.8s 0s ease infinite;
  -o-animation: cssload-dot-move 2.8s 0s ease infinite;
  -ms-animation: cssload-dot-move 2.8s 0s ease infinite;
  -webkit-animation: cssload-dot-move 2.8s 0s ease infinite;
  -moz-animation: cssload-dot-move 2.8s 0s ease infinite;
}

#loading-icon .cssload-dot:nth-child(2) {
  animation: cssload-dot-rotate-2 2.8s 0.7s linear infinite;
  -o-animation: cssload-dot-rotate-2 2.8s 0.7s linear infinite;
  -ms-animation: cssload-dot-rotate-2 2.8s 0.7s linear infinite;
  -webkit-animation: cssload-dot-rotate-2 2.8s 0.7s linear infinite;
  -moz-animation: cssload-dot-rotate-2 2.8s 0.7s linear infinite;
}

#loading-icon .cssload-dot:nth-child(2):before {
  background-color: #6bffff;
  animation: cssload-dot-move 2.8s 0.7s ease infinite;
  -o-animation: cssload-dot-move 2.8s 0.7s ease infinite;
  -ms-animation: cssload-dot-move 2.8s 0.7s ease infinite;
  -webkit-animation: cssload-dot-move 2.8s 0.7s ease infinite;
  -moz-animation: cssload-dot-move 2.8s 0.7s ease infinite;
}

#loading-icon .cssload-dot:nth-child(3) {
  animation: cssload-dot-rotate-3 2.8s 1.4s linear infinite;
  -o-animation: cssload-dot-rotate-3 2.8s 1.4s linear infinite;
  -ms-animation: cssload-dot-rotate-3 2.8s 1.4s linear infinite;
  -webkit-animation: cssload-dot-rotate-3 2.8s 1.4s linear infinite;
  -moz-animation: cssload-dot-rotate-3 2.8s 1.4s linear infinite;
}

#loading-icon .cssload-dot:nth-child(3):before {
  background-color: #b4d950;
  animation: cssload-dot-move 2.8s 1.4s ease infinite;
  -o-animation: cssload-dot-move 2.8s 1.4s ease infinite;
  -ms-animation: cssload-dot-move 2.8s 1.4s ease infinite;
  -webkit-animation: cssload-dot-move 2.8s 1.4s ease infinite;
  -moz-animation: cssload-dot-move 2.8s 1.4s ease infinite;
}

#loading-icon .cssload-dot:nth-child(4) {
  animation: cssload-dot-rotate-4 2.8s 2.1s linear infinite;
  -o-animation: cssload-dot-rotate-4 2.8s 2.1s linear infinite;
  -ms-animation: cssload-dot-rotate-4 2.8s 2.1s linear infinite;
  -webkit-animation: cssload-dot-rotate-4 2.8s 2.1s linear infinite;
  -moz-animation: cssload-dot-rotate-4 2.8s 2.1s linear infinite;
}

#loading-icon .cssload-dot:nth-child(4):before {
  background-color: #ffd042;
  animation: cssload-dot-move 2.8s 2.1s ease infinite;
  -o-animation: cssload-dot-move 2.8s 2.1s ease infinite;
  -ms-animation: cssload-dot-move 2.8s 2.1s ease infinite;
  -webkit-animation: cssload-dot-move 2.8s 2.1s ease infinite;
  -moz-animation: cssload-dot-move 2.8s 2.1s ease infinite;
}

@keyframes cssload-dot-move {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  18%,
  22% {
    -webkit-transform: translateY(-54px);
            transform: translateY(-54px);
  }
  40%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes cssload-dot-move {
  0% {
    -webkit-transform: translateY(0);
  }
  18%,
  22% {
    -webkit-transform: translateY(-54px);
  }
  40%,
  100% {
    -webkit-transform: translateY(0);
  }
}

@keyframes cssload-dot-colors {
  0% {
    background-color: #ff9442;
  }
  25% {
    background-color: #ff38ff;
  }
  50% {
    background-color: #61faff;
  }
  75% {
    background-color: #c8e043;
  }
  100% {
    background-color: #ffd83d;
  }
}

@-webkit-keyframes cssload-dot-colors {
  0% {
    background-color: #ff9442;
  }
  25% {
    background-color: #ff38ff;
  }
  50% {
    background-color: #61faff;
  }
  75% {
    background-color: #c8e043;
  }
  100% {
    background-color: #ffd83d;
  }
}

@keyframes cssload-dot-rotate-1 {
  0% {
    -webkit-transform: rotate(-105deg);
            transform: rotate(-105deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@-webkit-keyframes cssload-dot-rotate-1 {
  0% {
    -webkit-transform: rotate(-105deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
  }
}

@keyframes cssload-dot-rotate-2 {
  0% {
    -webkit-transform: rotate(165deg);
            transform: rotate(165deg);
  }
  100% {
    -webkit-transform: rotate(540deg);
            transform: rotate(540deg);
  }
}

@-webkit-keyframes cssload-dot-rotate-2 {
  0% {
    -webkit-transform: rotate(165deg);
  }
  100% {
    -webkit-transform: rotate(540deg);
  }
}

@keyframes cssload-dot-rotate-3 {
  0% {
    -webkit-transform: rotate(435deg);
            transform: rotate(435deg);
  }
  100% {
    -webkit-transform: rotate(810deg);
            transform: rotate(810deg);
  }
}

@-webkit-keyframes cssload-dot-rotate-3 {
  0% {
    -webkit-transform: rotate(435deg);
  }
  100% {
    -webkit-transform: rotate(810deg);
  }
}

@keyframes cssload-dot-rotate-4 {
  0% {
    -webkit-transform: rotate(705deg);
            transform: rotate(705deg);
  }
  100% {
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg);
  }
}

@-webkit-keyframes cssload-dot-rotate-4 {
  0% {
    -webkit-transform: rotate(705deg);
  }
  100% {
    -webkit-transform: rotate(1080deg);
  }
}
/*# sourceMappingURL=App.css.map */