* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  padding: 100px 50px 50px 50px;
  margin: 0;
  background-image: linear-gradient(332deg, rgb(10, 6, 43), rgb(62, 15, 66));
  box-sizing: border-box;
}

.display-container {
  width: 1000px;
  height: 500px;
  position: relative;
  padding: 25px;

  .header-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    &::after {
      display: block;
      content: "";
      position: absolute;
      right: 0;
      width: 58%;
      height: 7px;
      background-color: white;
      box-shadow: 0 0 15px rgba(220, 41, 236, 1), 0 0 5px 2px rgb(226, 93, 238);
    }

    #tunatunr-logo {
      height: 100px;
      min-width: 40%;
      width: 20px;
      margin-top: -100px;

      svg {
        z-index: 10;
        width: 425px;
        height: 107px;
        filter: drop-shadow(0 0 10px rgba(220, 41, 236, 1))
          drop-shadow(0 0 2px rgb(224, 84, 236));

        g path {
          fill: white;
          stroke: white;
        }
      }

      #logo-dash {
        fill: none;
      }
    }
  }

  .tagline-container {
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(51, 219, 219);

    font-family: sans-serif;
    font-size: 20px;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: -30px;

    span {
      font-weight: bold;
      font-style: oblique;
      text-shadow: 5px 0 rgba(204, 255, 18, 0.4);
    }
  }

  .content-container {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    padding: 15px;
    outline: 2px rgba(204, 255, 18, 0.6) solid;
    overflow: hidden;
    overflow-y: visible;

    &::before {
      display: block;
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 7px;
      height: 94%;
      background-color: white;
      box-shadow: 0 0 15px rgba(220, 41, 236, 1), 0 0 5px 2px rgb(226, 93, 238);
    }

    &::after {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 7px;
      height: 100%;
      background-color: white;
      box-shadow: 0 0 15px rgba(220, 41, 236, 1), 0 0 5px 2px rgb(226, 93, 238);
    }

    .content-container-title {
      display: none;
      // color: rgb(51, 219, 219);
      // text-shadow: 5px 0 rgba(168, 218, 33, 0.3);
      // font-family: sans-serif;
      // font-size: 36px;
      // font-style: oblique;
    }

    .song-container {
      display: grid;
      grid-template-columns: 5fr 4fr 5fr 1fr 25px 25px;
      gap: 10px;
      padding: 10px;
      width: 100%;
      outline: 1px rgb(51, 219, 219) solid;
      color: rgb(51, 219, 219);
      margin-bottom: 10px;

      .song-title,
      .song-artist,
      .song-album,
      .song-time {
        display: flex;
        align-items: center;
      }

      .song-title {
        color: rgb(247, 197, 252);
      }

      .heart {
        cursor: pointer;
        height: 100%;
        width: 20px;

        path {
          fill: #aaa1a1;
        }

        &.active {
          filter: drop-shadow(0 0 10px rgba(220, 41, 236, 1))
            drop-shadow(0 0 2px rgb(224, 84, 236));
          path {
            fill: rgb(255, 255, 255);
          }
        }
      }
    }
  }

  .display-container-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7px;
    background-color: white;
    box-shadow: 0 0 15px rgb(220, 41, 236), 0 0 5px 2px rgb(226, 93, 238);
  }
}
.bottom-container {
  max-width: 1000px;
  max-height: 300px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  margin-top: 30px;

  .favorite-container {
    width: 100%;
    border: rgb(51, 219, 219) 1px solid;

    .inner-container {
      margin: 10px;
      border: rgb(226, 93, 238) 2px solid;
      height: 225px;
      overflow: hidden;
      overflow-y: visible;

      .song-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border: rgb(51, 219, 219) 1px solid;
        color: rgb(51, 219, 219);
        font-size: 14px;
        padding: 5px;
        margin: 10px;

        .song-title {
          color: rgb(247, 197, 252);
        }
      }
    }
  }

  .form-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;

    .form-title {
      color: turquoise;
      text-transform: lowercase;
      font-family: sans-serif;
      font-style: oblique;
      font-size: 20px;
      letter-spacing: 1px;
      margin-bottom: 10px;

      span {
        font-weight: bold;
        font-style: oblique;
        text-shadow: 5px 0 rgba(204, 255, 18, 0.4);
      }
    }

    .form-body {
      display: flex;
      flex-flow: column nowrap;

      input {
        width: 350px;
        padding: 7px 7px 7px 10px;
        margin-bottom: 10px;
        font-size: 16px;
        color: white;
        background-color: rgba(62, 15, 66, 0);
        border: rgb(51, 219, 219) 1px solid;
        &:focus {
          border: white 1px solid;
          box-shadow: 0 0 10px violet;
        }
      }

      ::placeholder {
        color: rgba(204, 255, 18, 0.6);
        font-family: sans-serif;
        font-size: 16px;
        font-style: oblique;
        letter-spacing: 1px;
      }

      .form-submit {
        cursor: pointer;
        color: white;
        font-size: 18px;
        background-color: rgba(216, 18, 255, 0.2);
        border: 1px rgb(251, 142, 255) solid;
        margin: 0;
        &:hover {
          border: white 1px solid;
          box-shadow: 0 0 10px violet;
        }
      }
    }
  }
}
