* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  padding: 100px 50px 50px 50px;
  margin: 0;
  background-image: linear-gradient(332deg, rgb(10, 6, 43), rgb(62, 15, 66));
  box-sizing: border-box;
}

.display-container {
  width: 1000px;
  height: 500px;
  position: relative;
  padding: 25px;

  .header-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    &::after {
      display: block;
      content: "";
      position: absolute;
      right: 0;
      width: 58%;
      height: 7px;
      background-color: white;
      box-shadow: 0 0 15px rgba(220, 41, 236, 1), 0 0 5px 2px rgb(226, 93, 238);
    }

    #tunatunr-logo {
      height: 100px;
      min-width: 40%;
      width: 20px;
      margin-top: -100px;

      svg {
        z-index: 10;
        width: 425px;
        height: 107px;
        filter: drop-shadow(0 0 10px rgba(220, 41, 236, 1))
          drop-shadow(0 0 2px rgb(224, 84, 236));

        g path {
          fill: white;
          stroke: white;
        }
      }

      #logo-dash {
        fill: none;
      }
    }
  }

  .tagline-container {
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(51, 219, 219);

    font-family: sans-serif;
    font-size: 20px;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: -30px;

    span {
      font-weight: bold;
      font-style: oblique;
      text-shadow: 5px 0 rgba(204, 255, 18, 0.4);
    }
  }

  .content-container {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    padding: 15px;
    outline: 2px rgba(204, 255, 18, 0.6) solid;

    &::before {
      display: block;
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 7px;
      height: 94%;
      background-color: white;
      box-shadow: 0 0 15px rgba(220, 41, 236, 1), 0 0 5px 2px rgb(226, 93, 238);
    }

    &::after {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 7px;
      height: 100%;
      background-color: white;
      box-shadow: 0 0 15px rgba(220, 41, 236, 1), 0 0 5px 2px rgb(226, 93, 238);
    }

    .content-container-title {
      border-bottom: 1px rgba(204, 255, 18, 0.6) solid;

      ul {
        display: flex;
        justify-content: space-around;
        margin: 0 0 10px 0;

        li {
          list-style-type: none;
          font-style: oblique;
          text-transform: lowercase;
          color: rgba(204, 255, 18, 1);
        }
      }
    }

    .content-container-container {
      overflow: hidden;
      overflow-y: visible;
      padding: 1px;
      margin-top: 10px;
      // border: 1px white solid;

      .song-container {
        display: grid;
        grid-template-columns: 5fr 4fr 5fr 1fr 25px 25px;
        gap: 10px;
        padding: 10px;
        width: 100%;
        outline: 1px rgb(51, 219, 219) solid;
        color: rgb(247, 197, 252);
        margin-bottom: 10px;

        .song-title,
        .song-artist,
        .song-album,
        .song-time {
          display: flex;
          align-items: center;
        }

        .song-title {
          font-weight: 500;
          color: white;
        }

        .heart {
          cursor: pointer;
          height: 100%;
          width: 20px;

          path {
            fill: #aaa1a1;
          }

          &.active {
            filter: drop-shadow(0 0 10px rgba(220, 41, 236, 1))
              drop-shadow(0 0 2px rgb(224, 84, 236));
            path {
              fill: rgb(255, 255, 255);
            }
          }
        }

        .song-delete {
          color: rgb(51, 219, 219);
        }
      }
    }
  }

  .display-container-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7px;
    background-color: white;
    box-shadow: 0 0 15px rgb(220, 41, 236), 0 0 5px 2px rgb(226, 93, 238);
  }
}
.bottom-container {
  max-width: 1000px;
  max-height: 300px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  margin-top: 30px;

  .favorite-container {
    width: 100%;
    border: rgb(51, 219, 219) 1px solid;

    .inner-container {
      margin: 10px;
      border: rgb(226, 93, 238) 2px solid;
      height: 225px;
      overflow: hidden;
      overflow-y: visible;

      .song-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border: rgb(51, 219, 219) 1px solid;
        color: rgb(51, 219, 219);
        font-size: 14px;
        padding: 5px;
        margin: 10px;

        .song-title {
          color: rgb(247, 197, 252);
        }
      }
    }
  }

  .form-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;

    .form-title {
      color: turquoise;
      text-transform: lowercase;
      font-family: sans-serif;
      font-style: oblique;
      font-size: 20px;
      letter-spacing: 1px;
      margin-bottom: 10px;

      span {
        font-weight: bold;
        font-style: oblique;
        text-shadow: 5px 0 rgba(204, 255, 18, 0.4);
      }
    }

    .form-body {
      display: flex;
      flex-flow: column nowrap;

      input {
        width: 350px;
        padding: 7px 7px 7px 10px;
        margin-bottom: 10px;
        font-size: 16px;
        color: white;
        background-color: rgba(62, 15, 66, 0);
        border: rgb(51, 219, 219) 1px solid;
        &:focus {
          border: white 1px solid;
          box-shadow: 0 0 10px violet;
        }
      }

      ::placeholder {
        color: rgba(204, 255, 18, 0.6);
        font-family: sans-serif;
        font-size: 16px;
        font-style: oblique;
        letter-spacing: 1px;
      }

      .form-submit {
        cursor: pointer;
        color: white;
        font-size: 18px;
        background-color: rgba(216, 18, 255, 0.2);
        border: 1px rgb(251, 142, 255) solid;
        margin: 0;
        &:hover {
          border: white 1px solid;
          box-shadow: 0 0 10px violet;
        }
      }
    }
  }
}

#loading-icon {
  .cssload-dots {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    outline: 1px solid red;
    filter: url(#goo);
    -o-filter: url(#goo);
    -ms-filter: url(#goo);
    -webkit-filter: url(#goo);
    -moz-filter: url(#goo);
  }

  .cssload-dot {
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
  }
  .cssload-dot:before {
    content: "";
    width: 28px;
    height: 28px;
    border-radius: 40px;
    background: rgb(251, 211, 1);
    position: absolute;
    left: 50%;
    transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    margin-left: -13.5px;
    margin-top: -13.5px;
  }

  .cssload-dot:nth-child(5):before {
    z-index: 100;
    width: 36.5px;
    height: 36.5px;
    margin-left: -17.75px;
    margin-top: -17.75px;
    animation: cssload-dot-colors 2.6s ease infinite;
    -o-animation: cssload-dot-colors 2.6s ease infinite;
    -ms-animation: cssload-dot-colors 2.6s ease infinite;
    -webkit-animation: cssload-dot-colors 2.6s ease infinite;
    -moz-animation: cssload-dot-colors 2.6s ease infinite;
  }

  .cssload-dot:nth-child(1) {
    animation: cssload-dot-rotate-1 2.6s 0s linear infinite;
    -o-animation: cssload-dot-rotate-1 2.6s 0s linear infinite;
    -ms-animation: cssload-dot-rotate-1 2.6s 0s linear infinite;
    -webkit-animation: cssload-dot-rotate-1 2.6s 0s linear infinite;
    -moz-animation: cssload-dot-rotate-1 2.6s 0s linear infinite;
  }
  .cssload-dot:nth-child(1):before {
    background-color: rgb(242, 109, 242);
    animation: cssload-dot-move 2.6s 0s ease infinite;
    -o-animation: cssload-dot-move 2.6s 0s ease infinite;
    -ms-animation: cssload-dot-move 2.6s 0s ease infinite;
    -webkit-animation: cssload-dot-move 2.6s 0s ease infinite;
    -moz-animation: cssload-dot-move 2.6s 0s ease infinite;
  }

  .cssload-dot:nth-child(2) {
    animation: cssload-dot-rotate-2 2.6s 0.65s linear infinite;
    -o-animation: cssload-dot-rotate-2 2.6s 0.65s linear infinite;
    -ms-animation: cssload-dot-rotate-2 2.6s 0.65s linear infinite;
    -webkit-animation: cssload-dot-rotate-2 2.6s 0.65s linear infinite;
    -moz-animation: cssload-dot-rotate-2 2.6s 0.65s linear infinite;
  }
  .cssload-dot:nth-child(2):before {
    background-color: rgb(115, 240, 240);
    animation: cssload-dot-move 2.6s 0.65s ease infinite;
    -o-animation: cssload-dot-move 2.6s 0.65s ease infinite;
    -ms-animation: cssload-dot-move 2.6s 0.65s ease infinite;
    -webkit-animation: cssload-dot-move 2.6s 0.65s ease infinite;
    -moz-animation: cssload-dot-move 2.6s 0.65s ease infinite;
  }

  .cssload-dot:nth-child(3) {
    animation: cssload-dot-rotate-3 2.6s 1.3s linear infinite;
    -o-animation: cssload-dot-rotate-3 2.6s 1.3s linear infinite;
    -ms-animation: cssload-dot-rotate-3 2.6s 1.3s linear infinite;
    -webkit-animation: cssload-dot-rotate-3 2.6s 1.3s linear infinite;
    -moz-animation: cssload-dot-rotate-3 2.6s 1.3s linear infinite;
  }
  .cssload-dot:nth-child(3):before {
    background-color: rgb(175, 225, 2);
    animation: cssload-dot-move 2.6s 1.3s ease infinite;
    -o-animation: cssload-dot-move 2.6s 1.3s ease infinite;
    -ms-animation: cssload-dot-move 2.6s 1.3s ease infinite;
    -webkit-animation: cssload-dot-move 2.6s 1.3s ease infinite;
    -moz-animation: cssload-dot-move 2.6s 1.3s ease infinite;
  }

  .cssload-dot:nth-child(4) {
    animation: cssload-dot-rotate-4 2.6s 1.95s linear infinite;
    -o-animation: cssload-dot-rotate-4 2.6s 1.95s linear infinite;
    -ms-animation: cssload-dot-rotate-4 2.6s 1.95s linear infinite;
    -webkit-animation: cssload-dot-rotate-4 2.6s 1.95s linear infinite;
    -moz-animation: cssload-dot-rotate-4 2.6s 1.95s linear infinite;
  }
  .cssload-dot:nth-child(4):before {
    background-color: rgb(251, 211, 1);
    animation: cssload-dot-move 2.6s 1.95s ease infinite;
    -o-animation: cssload-dot-move 2.6s 1.95s ease infinite;
    -ms-animation: cssload-dot-move 2.6s 1.95s ease infinite;
    -webkit-animation: cssload-dot-move 2.6s 1.95s ease infinite;
    -moz-animation: cssload-dot-move 2.6s 1.95s ease infinite;
  }

  @keyframes cssload-dot-move {
    0% {
      transform: translateY(0);
    }
    18%,
    22% {
      transform: translateY(-56px);
    }
    40%,
    100% {
      transform: translateY(0);
    }
  }

  @-o-keyframes cssload-dot-move {
    0% {
      -o-transform: translateY(0);
    }
    18%,
    22% {
      -o-transform: translateY(-56px);
    }
    40%,
    100% {
      -o-transform: translateY(0);
    }
  }

  @-ms-keyframes cssload-dot-move {
    0% {
      -ms-transform: translateY(0);
    }
    18%,
    22% {
      -ms-transform: translateY(-56px);
    }
    40%,
    100% {
      -ms-transform: translateY(0);
    }
  }

  @-webkit-keyframes cssload-dot-move {
    0% {
      -webkit-transform: translateY(0);
    }
    18%,
    22% {
      -webkit-transform: translateY(-56px);
    }
    40%,
    100% {
      -webkit-transform: translateY(0);
    }
  }

  @-moz-keyframes cssload-dot-move {
    0% {
      -moz-transform: translateY(0);
    }
    18%,
    22% {
      -moz-transform: translateY(-56px);
    }
    40%,
    100% {
      -moz-transform: translateY(0);
    }
  }

  @keyframes cssload-dot-colors {
    0% {
      background-color: rgb(251, 211, 1);
    }
    25% {
      background-color: rgb(239, 120, 250);
    }
    50% {
      background-color: rgb(99, 237, 237);
    }
    75% {
      background-color: rgb(175, 225, 2);
    }
    100% {
      background-color: rgb(251, 211, 1);
    }
  }

  @-o-keyframes cssload-dot-colors {
    0% {
      background-color: rgb(251, 211, 1);
    }
    25% {
      background-color: rgb(239, 120, 250);
    }
    50% {
      background-color: rgb(99, 237, 237);
    }
    75% {
      background-color: rgb(175, 225, 2);
    }
    100% {
      background-color: rgb(251, 211, 1);
    }
  }

  @-ms-keyframes cssload-dot-colors {
    0% {
      background-color: rgb(251, 211, 1);
    }
    25% {
      background-color: rgb(239, 120, 250);
    }
    50% {
      background-color: rgb(99, 237, 237);
    }
    75% {
      background-color: rgb(175, 225, 2);
    }
    100% {
      background-color: rgb(251, 211, 1);
    }
  }

  @-webkit-keyframes cssload-dot-colors {
    0% {
      background-color: rgb(251, 211, 1);
    }
    25% {
      background-color: rgb(239, 120, 250);
    }
    50% {
      background-color: rgb(99, 237, 237);
    }
    75% {
      background-color: rgb(175, 225, 2);
    }
    100% {
      background-color: rgb(251, 211, 1);
    }
  }

  @-moz-keyframes cssload-dot-colors {
    0% {
      background-color: rgb(251, 211, 1);
    }
    25% {
      background-color: rgb(239, 120, 250);
    }
    50% {
      background-color: rgb(99, 237, 237);
    }
    75% {
      background-color: rgb(175, 225, 2);
    }
    100% {
      background-color: rgb(251, 211, 1);
    }
  }

  @keyframes cssload-dot-rotate-1 {
    0% {
      transform: rotate(-105deg);
    }
    100% {
      transform: rotate(270deg);
    }
  }

  @-o-keyframes cssload-dot-rotate-1 {
    0% {
      -o-transform: rotate(-105deg);
    }
    100% {
      -o-transform: rotate(270deg);
    }
  }

  @-ms-keyframes cssload-dot-rotate-1 {
    0% {
      -ms-transform: rotate(-105deg);
    }
    100% {
      -ms-transform: rotate(270deg);
    }
  }

  @-webkit-keyframes cssload-dot-rotate-1 {
    0% {
      -webkit-transform: rotate(-105deg);
    }
    100% {
      -webkit-transform: rotate(270deg);
    }
  }

  @-moz-keyframes cssload-dot-rotate-1 {
    0% {
      -moz-transform: rotate(-105deg);
    }
    100% {
      -moz-transform: rotate(270deg);
    }
  }

  @keyframes cssload-dot-rotate-2 {
    0% {
      transform: rotate(165deg);
    }
    100% {
      transform: rotate(540deg);
    }
  }

  @-o-keyframes cssload-dot-rotate-2 {
    0% {
      -o-transform: rotate(165deg);
    }
    100% {
      -o-transform: rotate(540deg);
    }
  }

  @-ms-keyframes cssload-dot-rotate-2 {
    0% {
      -ms-transform: rotate(165deg);
    }
    100% {
      -ms-transform: rotate(540deg);
    }
  }

  @-webkit-keyframes cssload-dot-rotate-2 {
    0% {
      -webkit-transform: rotate(165deg);
    }
    100% {
      -webkit-transform: rotate(540deg);
    }
  }

  @-moz-keyframes cssload-dot-rotate-2 {
    0% {
      -moz-transform: rotate(165deg);
    }
    100% {
      -moz-transform: rotate(540deg);
    }
  }

  @keyframes cssload-dot-rotate-3 {
    0% {
      transform: rotate(435deg);
    }
    100% {
      transform: rotate(810deg);
    }
  }

  @-o-keyframes cssload-dot-rotate-3 {
    0% {
      -o-transform: rotate(435deg);
    }
    100% {
      -o-transform: rotate(810deg);
    }
  }

  @-ms-keyframes cssload-dot-rotate-3 {
    0% {
      -ms-transform: rotate(435deg);
    }
    100% {
      -ms-transform: rotate(810deg);
    }
  }

  @-webkit-keyframes cssload-dot-rotate-3 {
    0% {
      -webkit-transform: rotate(435deg);
    }
    100% {
      -webkit-transform: rotate(810deg);
    }
  }

  @-moz-keyframes cssload-dot-rotate-3 {
    0% {
      -moz-transform: rotate(435deg);
    }
    100% {
      -moz-transform: rotate(810deg);
    }
  }

  @keyframes cssload-dot-rotate-4 {
    0% {
      transform: rotate(705deg);
    }
    100% {
      transform: rotate(1080deg);
    }
  }

  @-o-keyframes cssload-dot-rotate-4 {
    0% {
      -o-transform: rotate(705deg);
    }
    100% {
      -o-transform: rotate(1080deg);
    }
  }

  @-ms-keyframes cssload-dot-rotate-4 {
    0% {
      -ms-transform: rotate(705deg);
    }
    100% {
      -ms-transform: rotate(1080deg);
    }
  }

  @-webkit-keyframes cssload-dot-rotate-4 {
    0% {
      -webkit-transform: rotate(705deg);
    }
    100% {
      -webkit-transform: rotate(1080deg);
    }
  }

  @-moz-keyframes cssload-dot-rotate-4 {
    0% {
      -moz-transform: rotate(705deg);
    }
    100% {
      -moz-transform: rotate(1080deg);
    }
  }
}
