* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
  padding: 100px 50px 50px 50px;
  margin: 0;
  background-image: linear-gradient(332deg, #0a062b, #3e0f42);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.display-container {
  width: 1000px;
  height: 500px;
  position: relative;
  padding: 25px;
}

.display-container .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.display-container .header-container::after {
  display: block;
  content: "";
  position: absolute;
  right: 0;
  width: 58%;
  height: 7px;
  background-color: white;
  -webkit-box-shadow: 0 0 15px #dc29ec, 0 0 5px 2px #e25dee;
          box-shadow: 0 0 15px #dc29ec, 0 0 5px 2px #e25dee;
}

.display-container .header-container #tunatunr-logo {
  height: 100px;
  min-width: 40%;
  width: 20px;
  margin-top: -100px;
}

.display-container .header-container #tunatunr-logo svg {
  z-index: 10;
  width: 425px;
  height: 107px;
  -webkit-filter: drop-shadow(0 0 10px #dc29ec) drop-shadow(0 0 2px #e054ec);
          filter: drop-shadow(0 0 10px #dc29ec) drop-shadow(0 0 2px #e054ec);
}

.display-container .header-container #tunatunr-logo svg g path {
  fill: white;
  stroke: white;
}

.display-container .header-container #tunatunr-logo #logo-dash {
  fill: none;
}

.display-container .tagline-container {
  position: absolute;
  top: 0;
  right: 0;
  color: #33dbdb;
  font-family: sans-serif;
  font-size: 20px;
  font-style: italic;
  letter-spacing: 1px;
  margin-top: -30px;
}

.display-container .tagline-container span {
  font-weight: bold;
  font-style: oblique;
  text-shadow: 5px 0 rgba(204, 255, 18, 0.4);
}

.display-container .content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  height: 100%;
  padding: 15px;
  outline: 2px rgba(204, 255, 18, 0.6) solid;
  overflow: hidden;
  overflow-y: visible;
}

.display-container .content-container::before {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 7px;
  height: 94%;
  background-color: white;
  -webkit-box-shadow: 0 0 15px #dc29ec, 0 0 5px 2px #e25dee;
          box-shadow: 0 0 15px #dc29ec, 0 0 5px 2px #e25dee;
}

.display-container .content-container::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 7px;
  height: 100%;
  background-color: white;
  -webkit-box-shadow: 0 0 15px #dc29ec, 0 0 5px 2px #e25dee;
          box-shadow: 0 0 15px #dc29ec, 0 0 5px 2px #e25dee;
}

.display-container .content-container .content-container-title {
  display: none;
}

.display-container .content-container .song-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 4fr 5fr 1fr 25px 25px;
      grid-template-columns: 5fr 4fr 5fr 1fr 25px 25px;
  gap: 10px;
  padding: 10px;
  width: 100%;
  outline: 1px #33dbdb solid;
  color: #33dbdb;
  margin-bottom: 10px;
}

.display-container .content-container .song-container .song-title,
.display-container .content-container .song-container .song-artist,
.display-container .content-container .song-container .song-album,
.display-container .content-container .song-container .song-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.display-container .content-container .song-container .song-title {
  color: #f7c5fc;
}

.display-container .content-container .song-container .heart {
  cursor: pointer;
  height: 100%;
  width: 20px;
}

.display-container .content-container .song-container .heart path {
  fill: #aaa1a1;
}

.display-container .content-container .song-container .heart.active {
  -webkit-filter: drop-shadow(0 0 10px #dc29ec) drop-shadow(0 0 2px #e054ec);
          filter: drop-shadow(0 0 10px #dc29ec) drop-shadow(0 0 2px #e054ec);
}

.display-container .content-container .song-container .heart.active path {
  fill: white;
}

.display-container .display-container-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7px;
  background-color: white;
  -webkit-box-shadow: 0 0 15px #dc29ec, 0 0 5px 2px #e25dee;
          box-shadow: 0 0 15px #dc29ec, 0 0 5px 2px #e25dee;
}

.bottom-container {
  max-width: 1000px;
  max-height: 300px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  gap: 30px;
  margin-top: 30px;
}

.bottom-container .favorite-container {
  width: 100%;
  border: #33dbdb 1px solid;
}

.bottom-container .favorite-container .inner-container {
  margin: 10px;
  border: #e25dee 2px solid;
  height: 225px;
  overflow: hidden;
  overflow-y: visible;
}

.bottom-container .favorite-container .inner-container .song-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  border: #33dbdb 1px solid;
  color: #33dbdb;
  font-size: 14px;
  padding: 5px;
  margin: 10px;
}

.bottom-container .favorite-container .inner-container .song-container .song-title {
  color: #f7c5fc;
}

.bottom-container .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.bottom-container .form-container .form-title {
  color: turquoise;
  text-transform: lowercase;
  font-family: sans-serif;
  font-style: oblique;
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.bottom-container .form-container .form-title span {
  font-weight: bold;
  font-style: oblique;
  text-shadow: 5px 0 rgba(204, 255, 18, 0.4);
}

.bottom-container .form-container .form-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.bottom-container .form-container .form-body input {
  width: 350px;
  padding: 7px 7px 7px 10px;
  margin-bottom: 10px;
  font-size: 16px;
  color: white;
  background-color: rgba(62, 15, 66, 0);
  border: #33dbdb 1px solid;
}

.bottom-container .form-container .form-body input:focus {
  border: white 1px solid;
  -webkit-box-shadow: 0 0 10px violet;
          box-shadow: 0 0 10px violet;
}

.bottom-container .form-container .form-body ::-webkit-input-placeholder {
  color: rgba(204, 255, 18, 0.6);
  font-family: sans-serif;
  font-size: 16px;
  font-style: oblique;
  letter-spacing: 1px;
}

.bottom-container .form-container .form-body :-ms-input-placeholder {
  color: rgba(204, 255, 18, 0.6);
  font-family: sans-serif;
  font-size: 16px;
  font-style: oblique;
  letter-spacing: 1px;
}

.bottom-container .form-container .form-body ::-ms-input-placeholder {
  color: rgba(204, 255, 18, 0.6);
  font-family: sans-serif;
  font-size: 16px;
  font-style: oblique;
  letter-spacing: 1px;
}

.bottom-container .form-container .form-body ::placeholder {
  color: rgba(204, 255, 18, 0.6);
  font-family: sans-serif;
  font-size: 16px;
  font-style: oblique;
  letter-spacing: 1px;
}

.bottom-container .form-container .form-body .form-submit {
  cursor: pointer;
  color: white;
  font-size: 18px;
  background-color: rgba(216, 18, 255, 0.2);
  border: 1px #fb8eff solid;
  margin: 0;
}

.bottom-container .form-container .form-body .form-submit:hover {
  border: white 1px solid;
  -webkit-box-shadow: 0 0 10px violet;
          box-shadow: 0 0 10px violet;
}
/*# sourceMappingURL=App.css.map */